@import '../../styles/abstracts.scss';

.layout {
  padding: 1rem 2rem;
  max-width: 80rem;
}

.title {
  text-transform: uppercase;
}

.form {
  border: 1px solid $color-grey;
  border-radius: 5px;
  padding: 2rem;
  padding-bottom: 0;
  max-width: 50rem;
}

.btnContainer {
  display: flex;
  justify-content: end;
}

.btn {
  display: inline-block;
  margin-left: 2rem;
  * {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}
